{% load staticfiles %}
<!doctype html>
<html>
<head>
</head>
<body>

<script type='text/javascript' src="{% static 'js/soundmanager2.js' %}"></script>

<script type='text/javascript' src="{% static 'js/iioEngine.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/iioDebugger.js' %}"></script>


<script type="text/javascript">

function chunk(arr, len) {

    var chunks = [],
            i = 0,
            n = arr.length;

    while (i < n) {
        chunks.push(arr.slice(i, i += len));
    }

    return chunks;
}

function TapTapRevolution(io) {
    var songinfo = {{ song | safe }};
    var bpm_overall;
    bpm_overall = songinfo[0].bpm;
    var beat_times = songinfo[0].beats_position.split(',');
    var bpm_measured = songinfo[0].bpm_estimates.split(',');
    var length = songinfo[0].length;
    var chord_progression = songinfo[0].chord_progression.split(',');
    var song_file = songinfo[0].song_file;
    console.log(songinfo[0]);
    var staticurl;
    staticurl = '/static/';
    var CANVAS_WIDTH = io.canvas.width;
    var CANVAS_HEIGHT = io.canvas.height;
    var canvasHorizontalSpacing = CANVAS_WIDTH / 8.0;
    var ARROW_SIZE = 42.0;
    var score = 0;
    var main_arrows;
    main_arrows = [];
    var moving_arrows = [];
    var scoreText;
    var bpsoverall = bpm_overall / 60.0;
    var initial_framerate = 60.0;
    var current_framerate = 60.0;
    var inactiveArrows = [0, 1, 2, 3];
    var beatchunks = [];
    var count = 0;
    var RIGHT = 0;
    var UP = 1;
    var DOWN = 2;
    var LEFT = 3;
    var input = [];
    // Move to top


    /**
     * Score B
     *
     *
     *
     *
     *
     * oard
     */

    (function () {

        io.setBGColor('#5e3f6b');

        //io.addObj(new iio.Text('Your Score:', CANVAS_WIDTH - 100, 70)
        io.addObj(new iio.Text('Your Score:', io.canvas.width - 150, 70)
                .setFont('30px Century Gothic')
                .setTextAlign('right')
                .setFillStyle('#ffffff'));
        scoreText = io.addObj(new iio.Text(score, io.canvas.width - 100, 70)
                .setFont('30px Century Gothic')
                .setTextAlign('right')
                .setFillStyle('#ffffff'));
    })();
    create_arrows = function () {

        /*
         //    Nonmoving arrows
         */
        var rightArrowImage = new Image();
        var upArrowImage = new Image();
        var downArrowImage = new Image();
        var leftArrowImage = new Image();

        rightArrowImage.src = staticurl + "images/right-border@1.5x.png";
        upArrowImage.src = staticurl + "images/up-border@1.5x.png";
        downArrowImage.src = staticurl + "images/down-border@1.5x.png";
        leftArrowImage.src = staticurl + "images/left-border@1.5x.png";
        var rightArrow, upArrow, downArrow, leftArrow;
        rightArrowImage.onload = function () {
            rightArrow = io.addObj(new iio.SimpleRect(CANVAS_WIDTH - canvasHorizontalSpacing, CANVAS_HEIGHT - ARROW_SIZE, 42, 42).createWithImage(rightArrowImage));
            main_arrows.push(rightArrow);
        };

        upArrowImage.onload = function () {
            upArrow = io.addObj(new iio.SimpleRect(CANVAS_WIDTH - (canvasHorizontalSpacing * 3.0), CANVAS_HEIGHT - ARROW_SIZE, 42, 42)
                    .createWithImage(upArrowImage));
            main_arrows.push(upArrow)


        };

        downArrowImage.onload = function () {
            downArrow = io.addObj(new iio.SimpleRect(canvasHorizontalSpacing * 3.0, CANVAS_HEIGHT - ARROW_SIZE, 42, 42)
                    .createWithImage(downArrowImage));
            main_arrows.push(downArrow)
        };

        leftArrowImage.onload = function () {
            leftArrow = io.addObj(new iio.SimpleRect(canvasHorizontalSpacing, CANVAS_HEIGHT - ARROW_SIZE, 42, 42)
                    .createWithImage(leftArrowImage));
            main_arrows.push(leftArrow);

        };



        /*******************/
        /*  Moving arrows */

        var rightArrowMovingImage = new Image();
        var upArrowMovingImage = new Image();
        var downArrowMovingImage = new Image();
        var leftArrowMovingImage = new Image();

        rightArrowMovingImage.src = staticurl + "images/right-filled@1.5x.png";
        upArrowMovingImage.src = staticurl + "images/up-filled@1.5x.png";
        downArrowMovingImage.src = staticurl + "images/down-filled@1.5x.png";
        leftArrowMovingImage.src = staticurl + "images/left-filled@1.5x.png";
        var rightArrowMoving, upArrowMoving, downArrowMoving, leftArrowMoving;

        rightArrowMovingImage.onload = function () {
            rightArrowMoving = io.addObj(new iio.SimpleRect(CANVAS_WIDTH - canvasHorizontalSpacing, 0, 42, 42)
                    .createWithImage(rightArrowMovingImage)
                    .enableKinematics()
                    //.setVel(0, 2)
                    .setBound('bottom', CANVAS_HEIGHT + ARROW_SIZE, function(obj){
                        obj.pos.y = 0;
                        obj.vel.y = 0;
                        //inactiveArrows.push(RIGHT)
                        return true;
                    }));
                moving_arrows.push(rightArrowMoving);
        };

        upArrowMovingImage.onload = function () {
            upArrowMoving = io.addObj(new iio.SimpleRect(CANVAS_WIDTH - (canvasHorizontalSpacing * 3.0), 0, 42, 42)
                    .createWithImage(upArrowMovingImage)
                    .enableKinematics()
                    .setBound('bottom', CANVAS_HEIGHT + ARROW_SIZE, function (obj) {
                        obj.pos.y = 0;
                        obj.vel.y = 0;
                        //inactiveArrows.push(UP);
                        return true;
                    }));
            moving_arrows.push(upArrowMoving);
        };

        downArrowMovingImage.onload = function () {
            downArrowMoving = io.addObj(new iio.SimpleRect(canvasHorizontalSpacing * 3.0, 0, 42, 42)
                    .createWithImage(downArrowMovingImage)
                    .enableKinematics()
                    .setBound('bottom', CANVAS_HEIGHT + ARROW_SIZE, function (obj) {
                        obj.pos.y = 0;
                        obj.vel.y = 0
                        //inactiveArrows.push(DOWN);
                        return true;
                    }));
            moving_arrows.push(downArrowMoving);
        };

        leftArrowMovingImage.onload = function () {
            leftArrowMoving =  io.addObj(new iio.SimpleRect(canvasHorizontalSpacing, 0, 42, 42).createWithImage(leftArrowMovingImage)
                    .enableKinematics()
                    .setBound('bottom', CANVAS_HEIGHT + ARROW_SIZE, function (obj) {
                        obj.pos.y = 0;
                        obj.vel.y = 0;
                        //inactiveArrows.push(LEFT);
                        return true;

                    }));
            moving_arrows.push(leftArrowMoving);

        };
    };


    create_arrows();


        updateInput = function (event, boolValue) {
            if (iio.keyCodeIs('left arrow', event)) {
                input[LEFT] = boolValue;

                if (iio.intersects(moving_arrows[LEFT], main_arrows[LEFT]) == true) {

                    updateScore()
                }

            }
            if (iio.keyCodeIs('right arrow', event)) {
                input[RIGHT] = boolValue;

                if (input[RIGHT] == true && (iio.intersects(moving_arrows[RIGHT], main_arrows[RIGHT]) == true)) {
                    updateScore()
                }
            }

            if (iio.keyCodeIs('up arrow', event)) {
                if (input[UP] == true && (iio.intersects(moving_arrows[UP], main_arrows[UP]) == true)) {

                    input[UP] = boolValue;

                    updateScore();
                }
                event.preventDefault();


            }
            if (iio.keyCodeIs('down arrow', event)) {
                if (input[DOWN] == true && (iio.intersects(moving_arrows[DOWN], main_arrows[DOWN]) == true)) {

                input[DOWN] = boolValue;
                    updateScore();

                }
                event.preventDefault();

            }
        };
        updateScore = function () {
{#            var overlaps = [];#}
{##}
{#            if (input[LEFT] == true && (iio.intersects(moving_arrows[LEFT], main_arrows[LEFT]) == true)) {#}
{#                overlaps.push(LEFT);#}
{#            }#}
{#            if (input[RIGHT] == true && (iio.intersects(moving_arrows[RIGHT], main_arrows[RIGHT]) == true)) {#}
{#                overlaps.push(RIGHT);#}
{#            }#}
{#            if (input[UP] == true && (iio.intersects(moving_arrows[UP], main_arrows[UP]) == true)) {#}
{#                overlaps.push(UP);#}
{#            }#}
{#            if (input[DOWN] == true && (iio.intersects(moving_arrows[DOWN], main_arrows[DOWN]) == true)) {#}
{#                overlaps.push(DOWN);#}
{#            }#}
{#            if (overlaps.length > 0) {#}

                score += 2;
                scoreText.setText(score.toString());
{#            }#}

        };


        window.addEventListener('keydown', function (event) {
            updateInput(event, true);
        });

        window.addEventListener('keyup', function (event) {
            updateInput(event, false);
        });

        fireBeat = function () {
            var randomIndex = iio.getRandomInt(0, inactiveArrows.length);

            io.setFramerate(current_framerate, moving_arrows[inactiveArrows[randomIndex]]);
            moving_arrows[inactiveArrows[randomIndex]].setVel(0,2);

//            var randomArrow = moving_arrows[inactiveArrows[randomIndex]];

                //     //update the player
               // inactiveArrows.splice(randomIndex, 1);
               // updateScore();

        };






    //set up sound
    setupsound = function () {

        //analyze the song
        var bpm_chunks = chunk(bpm_measured, 2);
        var beat_times_chunked = chunk(beat_times, 2);
        if (bpm_chunks[0][0][0] == "[") {
            bpm_chunks[0][0] = bpm_chunks[0][0].slice(1)
        }
        if (bpm_chunks[bpm_chunks.length - 1][bpm_chunks[bpm_chunks.length - 1].length - 1][bpm_chunks[bpm_chunks.length - 1][bpm_chunks[bpm_chunks.length - 1].length - 1].length - 1] == "]") {
            bpm_chunks[bpm_chunks.length - 1][bpm_chunks[bpm_chunks.length - 1].length - 1] = bpm_chunks[bpm_chunks.length - 1][bpm_chunks[bpm_chunks.length - 1].length - 1].slice(0, bpm_chunks[bpm_chunks.length - 1][bpm_chunks[bpm_chunks.length - 1].length - 1].length - 1)
        }
        if (beat_times_chunked[0][0][0] == "[") {
            beat_times_chunked[0][0] = beat_times_chunked[0][0].slice(1)
        }

        if (beat_times_chunked[beat_times_chunked.length - 1][beat_times_chunked[beat_times_chunked.length - 1].length - 1][beat_times_chunked[beat_times_chunked.length - 1][beat_times_chunked[beat_times_chunked.length - 1].length - 1].length - 1] == "]") {
            beat_times_chunked[beat_times_chunked.length - 1][beat_times_chunked[beat_times_chunked.length - 1].length - 1] = beat_times_chunked[beat_times_chunked.length - 1][beat_times_chunked[beat_times_chunked.length - 1].length - 1].slice(0, beat_times_chunked[beat_times_chunked.length - 1][beat_times_chunked[beat_times_chunked.length - 1].length - 1].length - 1)
        }


        for (var i = 0; i < bpm_chunks.length; i++) {
            var sum = 0;
            for (var x = 0; x < bpm_chunks[i].length; x++) {
                sum += parseFloat(bpm_chunks[i][x]); //don't forget to add the base
            }

            var avg = sum / bpm_chunks[i].length;


            console.log("The sum is: " + sum + ". The average is: " + avg);
            var interval_avg_bps = avg / 60.0;
            var factor = interval_avg_bps / bpsoverall;

            beatchunks[i] = [ beat_times_chunked[i], bpm_chunks[i], factor, i];
            console.log("beatchunks[" + i + "]: beat_times_chunked[" + i + "]" + beatchunks[i] + "bpm_chunks[" + i + "]: " + beatchunks[i][1] +
                    "factor: " + beatchunks[i][2] + " index: " + beatchunks[i][3]);
        }

        soundManager.setup({
            url: "{% static 'swf/soundmanager2.swf' %}",
            flashVersion: 8,
            onready: function () {
                var mySound = soundManager.createSound({
                    id: 'aSound',
                    url: song_file,
                    autoload: true,
                    onload: function () {

                    } //end onload
                }); //end createsound

                for (var y = 0; y < beatchunks.length; y++) {
                    console.log("set firebeat for beatime: " + beatchunks[y][0][0]);

                    //IN MILLISECONDS
                    mySound.onPosition((parseFloat(beatchunks[y][0][0]) * 1000.00), function (eventPosition) {
                        count++;
                        console.log(this.id + ' reached ' + eventPosition);
                        //divide it for seconds

                        current_framerate = beatchunks[count][2] * initial_framerate;
                        console.log("currentframerate: " + beatchunks[count][2]);
                        console.log(this.id + ' reached ' + eventPosition);

                        fireBeat();
                        this.clearOnPosition(eventPosition);

                    });

                }
                {##}
                                //initial shooting



                mySound.play();
                var randomIndex = iio.getRandomInt(0, inactiveArrows.length);
                io.setFramerate(initial_framerate, moving_arrows[inactiveArrows[randomIndex]]);
                moving_arrows[inactiveArrows[randomIndex]].setVel(0,2);

                  //  updateScore();

                console.log('sound loaded!', this);


            }

        })


    };
    setupsound();
}


iio.start(TapTapRevolution);

</script>

</body>
</html>
