{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search on Google Music</title>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

</head>
<body>

{% if queryMessage %}
	<p>{{ queryMessage }}</p>
{% endif %}

{% if error %}
	<p style="color: red;">{{ resultMessage }}</p>
{% elif resultMessage %}
	<p style="color: green;">{{ resultMessage }}</p>
{% endif %}

{% if downloadedId %}
<script>
function submitform() {
    $("#songSelectionForm").submit()
}
</script>

<form id="songSelectionForm" action="index" method="post">
    {% csrf_token %}
    <input type="hidden" id="hid" name="downloadedId" value="{{ downloadedId }}"/>
<input type="button" onclick="submitform()" id="selectSongButton" name="selectSongButton" value="Play with your downloaded song!" />
</form>

{% endif %}


  <form action="" method="get">
        <input type="text" name="title">
        <input type="submit" value="Search">
    </form>

</body>
</html>